* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* header start */

.allnav {
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed; 
    z-index: 1;
    background-color: #606060;
    opacity: 0.5;

}
.menus {
    margin-top: 25px;
}
.menus a {
    text-decoration: none;
    margin: 20px;
    color: #24012d;
}
.menus a:hover {
    color: rgb(255, 255, 255);
}
.banner {
    background-image: url(Images/top-bannerr.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center;
}
.bannerop {
    background-color: #ea8aff;
    opacity: 0.5;
    height: 100vh;
    width: 100%;
}
/* header end */
/* dress-section start */
.alldress {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(239, 207, 253);
}
.alt {
    width: 87%;
    margin-top: 50px;
}
.alt h2 {
    margin-left: 15px;
    color: rgb(68, 2, 82);
}
.allcard {
    display: flex;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 50%;
    background-color: #f4d8f8;
}
.card img {
    height: auto;
    width: 85%;  
}
#ed1 {
    margin-top: -25px;
}
#ed2 {
    margin-top: -5px;
}
#ed3 {
    margin: -42px 0px 0px 20px;
}
#ed4 {
    margin-top: -30px;
}
.alltext {
    padding-left: 10px;
    background-color: rgb(167, 171, 172);
    margin-top: -20px;
}
.tx1 {
    margin-top: 17px;
    color: rgb(68, 2, 82);
}
.tx2 {
    color: rgb(68, 2, 82);
}
.tx3 {
    margin-top: 30px;
    color: rgb(68, 2, 82);
}
.tx4 {
    margin-top: 22px;
    color: rgb(68, 2, 82);
}
.txx {
    color: rgb(255, 191, 0);
}
.alltext a {
    text-decoration: none;
    background-color: #af00d6;
    padding: 8px 15px;
    border-radius: 7px;
    float: right;
    margin: -45px 10px 0px 0px;
    color: white;
}
/* dress-section end */
/* shoes-section start */
.card1 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 50%;
    background-color: #f4d8f8;
}
.card1 .sh1 {
    height: auto;
    width: 100%;
    margin-top: 50px;
}
.card1 .sh2 {
    height: auto;
    width: 140%;
    margin: 50px 0px 0px -70px;
    
}
.card1 .sh3 {
    height: auto;
    width: 118%;
    margin-top: 50px;
}
.card1 .sh4 {
    height: auto;
    width: 92%;
    margin-top: 30px;
}
.alltx1 {
    margin-top: 50px;
}
.alltx2 {
    margin-top: 33px;
}
.alltx3 {
    margin-top: 63px;
}
.alltx4 {
    margin-top: 56px;
}
/* shoes-section end */
/* watch-section start */
.card2 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 50%;
    background-color: #f4d8f8;
}
.card2 .wh1 {
    height: auto;
    width: 90%;
    margin: 50px 0px 0px 10px;
}
.card2 .wh2 {
    height: auto;
    width: 115%;
    margin: 19px 0px 0px -20px;
}
.card2 .wh3 {
    height: auto;
    width: 70%;
    margin: 50px 0px 0px 40px;
}
.card2 .wh4 {
    height: auto;
    width: 105%;
    margin-top: 40px;
}
.alltex1 {
    margin-top: 42px;
}
.alltex2 {
    margin-top: 7px;
}
.alltex3 {
    margin-top: 50px;
}
.alltex4 {
    margin-top: -9px;
}
/* watch-section end */
/* headphone-section start */
.card3 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 50%;
    background-color: #f4d8f8;
}
.card3 .hp1 {
    height: auto;
    width: 115%;
    margin: 50px 0px 0px -15px;
}
.card3 .hp2 {
    height: auto;
    width: 155%;
    margin: 35px 0px 0px -60px;
}
.card3 .hp3 {
    height: auto;
    width: 130%;
    margin: 50px 0px 0px -45px;
}
.card3 .hp4 {
    height: auto;
    width: 80%;
    margin: 40px 0px 0px 30px;
}
.alltxx1 {
    margin-top: 47px;
}
.alltxx2 {
    margin-top: 22px;
}
.alltxx3 {
    margin-top: 39px;
}
.alltxx4 {
    margin-top: 60px;
}
/* headphone-section end */
/* subscribe start */
.allsub {
    height: 500px;
    width: 100%;
    background-color: rgb(239, 207, 253);
    padding-top: 150px;
}
.sub-banner {
    background-image: url(Images/sub-bg.jpg);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-size: 1160px;
    margin-left: 97px;
    border-radius: 10px;
}
.subop {
    height: 68vh;
    width: 86%;
    background-color: #d86cff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subop h2 {
    color: rgb(47, 1, 64);
    font-size: 30px;
    word-spacing: 3px;
}
.subop h2, p {
    margin-left: 4px;
}
.inp {
    margin-top: 10px;
}
.tbl input {
    font-size: 16px;
    padding: 17px 30px;
    width: 110%;
    color: #491060;
    background-color: #414141c6;
    border: 1px solid #470b61;
}
.tbl button {
    text-decoration: none;
    border: none;
    background-color: #660391;
    color: #ffffff;
    font-size: 16px;
    margin-left: -18px;
    padding: 13px 25px;
    cursor: pointer;
}
/* subscribe end */